<% provide(:title, "Users") %>
	<body class="container full-height-grow">
					<header class="main-header">
								<div class="brand-logo-name">Amy's Science Fair Project</div>
										<nav class="main-nav">
														<ul>
																	<li><button onclick="window.location='home'">Home</button></li>
																	<li><button onclick="window.location='login'">Login</button></li>
																	<li><button onclick="window.location='gallery'">Gallery</button></li>
																	<li><button onclick="window.location='draw'">Draw</button></li>
																	<li><button class="page-button" onclick="window.location='users'">Users</button></li>
														</ul>
										</nav>
					</header>
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
	</body>
